.status-bar .user-info {
  height: 100%;
  font-size: 1em;
  line-height: 3em;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  padding: 0 1em;
  color: #fff;
  background-color: #0084ff;
}
