.status-bar {
  display: flex;
  justify-content: space-between;
  height: auto;
  min-width: 360px;
}

.status-bar-right-btns {
  display: flex;
  flex-direction: row;
}

.dark-mode .status-bar {
  background-color: #000;
}

.light-mode .status-bar {
  background-color: #f1f1f1;
}
